/* page dimensions and scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #f5cb5c;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f5cb5c;
}
::-webkit-scrollbar-thumb:active {
  background: #f5cb5c;
}
::-webkit-scrollbar-track {
  background: #242423;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #242423;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

body,
#root {
  width: 100%;
  height: 100vh;
  background-color: #242423;
  overflow: hidden;
}
p {
  padding: 5px;
  padding-bottom: 10px;
}
.main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-self: space-around;
  flex-shrink: 0;
  flex-wrap: nowrap;
}

/* Nav stuff */
.nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  left: 0;
  width: 5%;
  max-width: 50px;
  background-color: #12130f;
  padding: 5px;
}
.nav-pages {
  height: 50%;
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nav-socials {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 50%;
}

a {
  text-decoration: none;
}

.nav-item {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  color: #cfdbd5;
  font-size: 1.3rem;
  transition: color 0.3s;
}
.nav-item:hover {
  color: #f5cb5c;
  cursor: pointer;
}

/* End nav stuff */

/* main content */
.content {
  width: 95%;
  height: 100%;
}
/* end main content */

/* Landing page */
.punctuation {
  color: #f5cb5c;
}
.landing-header {
  font-size: 4rem;
  color: white;
  margin-left: 5%;
  margin-top: 10%;
  font-weight: 600;
  animation-duration: 2s;
}
.landing-header p {
  font-size: 1.3rem;
  font-weight: 300;
  color: #f5cb5c;
  margin-left: 5%;
}

/* end landing page */

/* about page */
.about-header {
  font-size: 4rem;
  color: white;
  margin-left: 10%;
  margin-top: 5%;
  font-weight: 600;
}
.about-text {
  font-size: 1.3rem;
  font-weight: 300;
  color: #f5cb5c;
  margin-left: 5%;
  width: 100%;
  line-height: 2.5rem;
}
.about-main {
  position: relative;
  display: flex;
  flex-direction: column-wrap;
}
.skills-header {
  font-size: 4rem;
  color: white;
  margin-top: 25%;
  font-weight: 600;
  text-align: right;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}
.skills-text {
  font-size: 1.3rem;
  font-weight: 300;
  color: #f5cb5c;
  margin-right: 5%;
  width: 100%;
  line-height: 2.5rem;
  align-self: flex-end;
  text-align: left;
}
.stack {
  color: #f5cb5c;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  margin: 0 auto;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 25%;
}
.stack i {
  margin-top: 5px;
}
/* end about page */

/* project page */
.projects-main {
  font-size: 4rem;
  color: white;
  margin-left: 15%;
  margin-top: 5%;
  font-weight: 600;
  width: 80%;
  height: 80%;
  overflow: auto;
}

.project {
  margin: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40%;
  height: 50%;
  background-color: #242423;
  transition: background-image 0.3s;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.project:hover {
  border: 3px solid #f5cb5c;
  background-blend-mode: overlay;
}
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80%;
  margin-left: 5%;
}

.project-info {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
  align-self: end;
  line-height: 2rem;
}
.project-title {
  font-size: 2rem;
  color: white;
  text-decoration: underline;
}
.project-description {
  font-size: 1rem;
  color: #f5cb5c;
  font-weight: 400;
  line-height: 1rem;
}
.project-links {
  display: flex;
  flex-direction: column;
}
.project-link {
  color: white;
  text-decoration: underline;
  font-weight: 300;
  font-size: 1rem;
}

/* end project page */

/* .project {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 60%;
  height: 400px;
  max-height: fit-content;
  border: 1px solid #003d5b;
  border-radius: 20px;
  margin-bottom: 5%;
  background-color: white;
  transition: box-shadow 0.2s;
}
.project:hover {
  -webkit-box-shadow: 0px 0px 32px 0px #003d5b;
  -moz-box-shadow: 0px 0px 32px 0px #003d5b;
  box-shadow: 0px 0px 32px 0px #003d5b;
}
.project-image:hover {
  background-color: #424447;
  background-blend-mode: overlay;
}

.project-meta {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  text-align: center;
}
.project-meta h1 {
  font-size: 2rem;
}
.project-image {
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: transparent;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project:nth-of-type(odd) {
  align-self: flex-end;
  margin-right: 10%;
}

.links {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.project-link {
  text-decoration: none;
  margin-right: 1%;
  border: 1px solid #003d5b;
  background-color: white;
  padding: 10px;

  border-radius: 10px;
  color: #003d5b;
  text-align: center;
  margin: 0 auto;
  transition: visiblity 0.3s;
  font-weight: 600;
} */
